NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key"

SPOTIFY_CLIENT_ID="your-spotify-client-id"
SPOTIFY_CLIENT_SECRET="your-spotify-client-secret"

DATABASE_URL="your-database-url"
# For example: postgresql://USER:PASSWORD@HOST:PORT/DATABASE_NAME
# IA
AI_PROVIDER="gemini" # gemini | claude | gpt
GEMINI_API_KEY="api_key_gemini"
CLAUDE_API_KEY='api_key_de_claude'
GPT_API_KEY="api_key_gpt"